<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scrollable Menu</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }
    .top-bar {
      background-color: #333;
      color: #fff;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .search-bar {
      background-color: #fff;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 80%;
      display: flex;
    }
    .search-input {
      flex: 1;
      border: none;
      outline: none;
      font-size: 14px;
    }
    .search-icon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    .menu {
       background-color: #fff;
       padding: 20px;
       border: 1px solid #ccc;
       border-radius: 5px;
       height: 300px; /* Adjust the height as needed */
       overflow-y: scroll;
    }

    .menu-item {
       padding: 10px;
       border-bottom: 1px solid #ccc;
    }

    .pagination {
       margin-top: 10px;
       text-align: center;
    }

    .page-link {
       text-decoration: none;
       padding: 5px 10px;
       border: 1px solid #ccc;
       border-radius: 3px;
       margin: 5px;
       color: #333;
       background-color: #eee;
    }
    </style>
</head>
<body>
  <div class="top-bar">
    <img src="search-icon.png" alt="Search Icon" class="search-icon">
        <form class="form-inline my-2 my-lg-0" action="/search">
           <input class="form-control mr-sm-2" name="q" type = "text" placeholder="Search" ari-label="Search">
        </form>
        
  <% if false %>
    <div class="account-button">
       <ul class="nav navbar-nav">
          <li><%= link_to "My Account", show_user_path %></li>
       </ul>
    </div>  
  <% end %>

    <div class="recipe-button">
       <ul class="nav navbar-nav">
         <li><%= link_to "Sign In/Create Account", users_login_path %></li>
         <li><%= link_to "Create Recipe", new_recipe_path %></li>
       </ul>
    </div>
  </div>
    
  <table class="ui fixed single line sortable celled table">
     <thead>
        <tr>
           <th>Recipe</th>
              <th>Ingredients</th>
              <th>Steps</th>
              <th class="descending">Created When</th>
        </tr>
     </thead>
     <tbody>
       <% @recipes.each do |recipe| %>
       <tr>
         <td><%= link_to recipe.name, recipe %></td>
         <td><%= recipe.ingredients %></td>
         <td><%= recipe.steps %></td>
         <td><%= time_ago_in_words(recipe.created_at) %> ago</td>
       <tr>
       <% end %>
     </tbody>
   </table>
</body>