<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Profilepicture:</strong>
    <%= user.profilePicture %>
  </p>

  <p>
    <strong>Likedrecipes:</strong>
    <%= user.likedRecipes %>
  </p>

  <p>
    <strong>Createdrecipes:</strong>
    <%= user.createdRecipes %>
  </p>

</div>
